<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          &copy; <a href="https://icsr.zju.edu.cn/" target="_blank">浙大网安AIcert平台</a> - Coded by ZJU.
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a href="https://github.com/ZJUICSR/AIcert" target="_blank">Download</a></li>
          <li class="list-inline-item"><a href="https://github.com/ZJUICSR/" target="_blank">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
