<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock title %} | AIcert平台 </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="keywords" content="AIcert平台" />
  <meta name="author" content="ZJUICSR" />
  {% block extrastyle %}{% endblock extrastyle %}
</head>
<body>
  {% block content %}
  <div><h1>index 页面，系统宣传页面，所有用户可见</h1></div>
  {% endblock content %}
</body>
</html>
